{
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-undef": 1
  },
  "globals": {
    "kontra": false,
    "document": false
  }
}
